.navigation {
  font-family: "Raleway", sans-serif;
  font-weight: 600;

  @include clearfix;

  &__logo-box {
    margin: 6rem;
    float: left;
  }
  &__logo {
    height: 3.5rem;
    cursor: pointer;
  }

  &__nav {
    float: right;
    margin: 6rem;
  }
  &__list {
    list-style: none;
    text-align: center;
  }
  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 4rem;
    }
  }
  &__link {
    text-decoration: none;
    font-size: $default-font-size;
    color: $color-dark-gray;
  }
}
