.where-are-you {
  &__cntanier {
    background-color: $color-very-pale-blue;
    padding-bottom: 8rem;
  }
  &__image-box {
    width: 100%;
    text-align: left;
  }
  &__image {
    width: 100%;
    height: auto;
    margin-top: 30%;
  }
  &__text-box {
    padding: 5rem 0;
  }
}
