$color-very-dark-blue: hsl(243, 87%, 12%);
$color-desaturated-blue: hsl(238, 22%, 44%);

$bright-blue: hsl(224, 93%, 58%);
$moderate-cyan: hsl(170, 45%, 43%);

$color-light-blue: #339af0;
$color-light-blue-1: #e7f5ff;
$color-very-pale-blue: hsl(207, 100%, 98%);

$color-green: #55c57a;

$light-grayish-blue: hsl(240, 75%, 98%);
$light-gray: hsl(0, 0%, 75%);
$color-dark-gray: #343a40;
$color-gray-dark-2: #868e96;

$color-secondary-dark: #ff7730;

$color-white: #ffffff;
$color-black: #000000;
$orange-color: #d9480f;

//FONT SIZE
$default-font-size: 1.8rem;

//GRID
$grid-width: 135rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 8rem;
