.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-size: $default-font-size;
    padding: 1.6rem 2rem;
    display: inline-block;
    border-radius: 3px;
    transition: all 0.2s;
    position: relative;

    @include respond(phone) {
      position: absolute;
      display: block;
      width: 92%;
      top: 100%;
      left: 48%;
      transform: translate(-50%, -50%);
    }

    //Change for the <button> element
    border: none;
    cursor: pointer;

    &:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
  }
  &--blue {
    background-color: $bright-blue;
    color: $color-white;
    margin-left: 1rem;
    &::after {
      background-color: $bright-blue;
    }
    &:hover {
      background-color: $color-light-blue;
    }
  }

  &--light-blue {
    background-color: $color-light-blue;
    color: $color-white;
    margin-top: 1.4rem;
    @include respond(tablet-landscape) {
      width: 65%;
      position: absolute;
      left: 33%;
      transform: translate(-50%);
    }
    @include respond(phone) {
      width: 100%;
      top: 80%;
      left: 50%;
      transform: translate(-50%);
    }
    &::after {
      background-color: $color-light-blue;
    }
    &:hover {
      background-color: $bright-blue;
    }
  }

  &::after {
    content: "";
    font-size: 2rem;
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
}

.button-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-light-blue;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-light-blue;
    transition: all 0.4s;
    padding: 5px 10px;
  }

  &:hover {
    padding: 5px 10px;
    text-decoration: none;
    background-color: $color-light-blue;
    color: $color-white;
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 15);
    border-radius: 3px;
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 15);
  }
}
